<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo ao {{ title }}!
  </h1>
</div>

<div class="row" > 
  <h2 class="col-3">Jogadas</h2>

  <form class="form-group" (ngSubmit)="jogar()">
    <div >
      <div class="input-group">
        <input type="number"[(ngModel)]="pinos" [ngModelOptions]="{standalone: true}">
        <button type="submit" class="btn btn-success">Lançar</button>
      </div>      
    </div>
  </form>
  <div>{{pontos}}</div>
</div>

<div class="table table-condensed jumbotron col-lg-12">
  

<table style="width:100%">
    <thead>
        <tr>
            <th>Quadro</th>
            <th>Lançamento 1</th>
            <th>Lançamento 2</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lancament of quadro; let i = index">
        <td>{{i+1}}</td>
        <td>{{quadro[0]}}</td>
        <td>{{quadro[1]}}</td>
      </tr>
    </tbody>  
</table> 

</div>
