<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="col-md-12" > 
<h2>Jogadas</h2>

<form class="form-group">
  <div>
    <div class="input-group">
      <input type="number">
      <button type="button" class="btn btn-success">Jogar</button>
    </div>
  </div>
</form>

<div class="table-condensed jumbotron">
  

<table style="width:100%">
  <tr>
    <th>Quadro</th>
    <th>Lançamento 1</th>
    <th>Lançamento 2</th>
    <th>Descrição</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> 
</div>
</div>
