<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo ao {{ title }}!
  </h1>
</div>

<div class="row" > 
  <h2 class="col-3">Jogadas</h2>

  <form class="form-group">
    <div >
      <div class="input-group">
        <input type="number"[(ngModel)]="pontos">
        <button type="submit" class="btn btn-success">Jogar</button>
      </div>      
    </div>
  </form>
  <div>{{pontos}}</div>
</div>

<div class="table table-condensed jumbotron col-lg-12">
  

<table style="width:100%">
  <tr>
    <th>Quadro</th>
    <th>Lançamento 1</th>
    <th>Lançamento 2</th>
    <th>Descrição</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> 

</div>
